.playerBox{
    width: 40%;
    height: 400px;
    background-color: blue;
    border: black 1px solid;

}

.diceBox{
    width: 10%;
    height: 400px;
    background-color: grey;
    border: black 1px solid;
    font-family: 'Orbitron', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playerBanner{
    font-size: x-large;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.roundScore, .scoreBox{
    height: 60px;
    width: 60px;
    border: tomato 1px solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(37, 12, 16);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: rgb(181, 181, 245);    
}


.roundScore{
    /* height: 200px; */
    margin-top:200px;
    display: block;;

}